before_script:
  - apt update --yes
  - apt install --yes git
  - apt install --yes python3
  - apt install --yes python3-markupsafe
  - apt install --yes python3-matplotlib
  - apt install --yes python3-numpy
  - apt install --yes python3-pip
  - apt install --yes python3-pygit2
  - pip3 install mot_vides wordcloud
image: debian:latest

pages:
  stage: deploy
  script:
  - git clone --bare https://framagit.org/paula.forteza/data-consultation-reforme-assemblee.git data.git
  - generate_site.py data.git html
  - mv html public
  artifacts:
    paths:
    - public
  only:
  - master
